cassandra-driver==3.28.0 ; python_version >= "3.9" and python_version < "4.0"
cassio==0.1.3 ; python_version >= "3.9" and python_version < "4.0"
langchain==0.0.336 ; python_version >= "3.9" and python_version < "4.0"
langserve[server]==0.0.27 ; python_version >= "3.9" and python_version < "4.0"
openai==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
tiktoken==0.5.1 ; python_version >= "3.9" and python_version < "4.0"